
@import "tailwindcss";

@theme {
  /* New, Modern Greenish Theme */
  --color-brand-green-light: #F0FDF4;  /* Default light green background */
  --color-brand-green: #22C55E;      /* Bright green for highlights */
  --color-brand-green-dark: #16A34A; /* Gehra green */
  --color-brand-green-darkest: #14532D; /* Sabse gehra green */
  
  --color-brand-text-light: #52525B; /* Halka text color */
  --color-brand-text: #18181B;      /* Gehra text color */

  /* Alag sections ke liye background colors */
  --color-bg-white: #FFFFFF;
  --color-bg-light-gray: #FAFAF9;
  --color-bg-light-leaf: #F0FDF4;
}

